# 파이썬 기본 문법
1. 변수 선언 호출
2. 함수 구현 및 호출
3. 개발 시 주의사항

In [4]:
# 문자열 타입
data = '문자열'
data2 = "문자열"
print(data, data2)

문자열 문자열

In [13]:
# 결합 연산자로 문자열 조합해서 출력
print(data + ' ' + data2)

문자열 문자열

In [5]:
# 문자열
data3 = 3.5
print(data + ' ' + str(data3))

문자열 3.5

In [9]:
type(data)

str

In [10]:
type(data3)

float

In [11]:
len(data2)

3

In [12]:
data5 = '가나다라마바사아자차카타파하'
len(data5)

14

In [15]:
data5[3:]

'라마바사아자차카타파하'

In [17]:
data5[::-2] # 거꾸로, 두칸 씩

'하타차아바라나'

In [54]:
# 나누기 : 항상 실수로 표현
5/3

1.6666666666666667

In [56]:
# 나누기 : 정수로 표현 -> 몫
5//3

1

In [20]:
# 문자열 곱
data6 = '*'
print(data6*5)

*****

In [24]:
def names():
    print('이름', end = ' ')
    print('나이')

# 함수 호출
names()

이름 나이

In [25]:
# 3을 반환하는 기능의 getInt 함수 개발
def getInt():
    return 15

getInt()

15

In [33]:
# 이미 존재하는 3값을 보유한 로컬변수의 함수 호출 시 새로운 데이터를 반영해서 정수 데이터값 더한 후 반환하기
def getSum(no):
    no2=10
    return no + no2

getsum(20)

30