# 문자열 타입의 지원 함수들 자유롭게 사용해 보기

 - 참고문서: https://docs.python.org/3.6/library/stdtypes.html#text-sequence-type-str

In [33]:
data1 = "문자열 타입의 지원 함수들 자유롭게 사용해 볼까요"
data2 = "hELLOBELLo"
data3 = "one200agedPersOn"
data4 = "oneagederson"
data5 = "    fairytale thing    "
data6 = "actually, not eveyone in this world is that nice"
data7 = "simple is better than complex "

testlist= [1,2,3,[4,5,6]]
sampleList = [1, 2, 3, [4, 5, 6, ['a', 'b', 'c']]]

In [35]:
# samplelist에서 a 출력하기
sampleList[3][3][0]

'a'

In [32]:
# testlist에서 4출력
testlist[3][0]

4

In [5]:
# 문자열 길이
len(data1)

27

In [11]:
# 첫 글자만 대문자로 변환
print(data2.capitalize())
print(data3.capitalize())

Hellobello
One200agedperson

In [15]:
# 문자열 내 모든 문자를 소문자로 변환
print(data2.casefold())
print(data2.lower())

hellobello
hellobello

In [17]:
# 문자열이 모두 알파벳으로 이루어져 있는지 검사
data3.isalpha()

False

In [44]:
# 문자열이 모두 알파벳으로 이루어져 있는지 검사
data4.isalpha()

True

In [67]:
# 문자열 내 좌,우 공백 제거
data5.strip()

'fairytale thing'

In [24]:
# 문자열 내 우 공백 제거
data5.rstrip()

'    fairytale thing'

In [25]:
# 문자열 내 좌 공백 제거
data5.lstrip()

'fairytale thing    '

In [22]:
# 문자열 내 첫 단어를 대문자로 변환
print(data6.title())
print(data7.title())

Actually, Not Eveyone In This World Is That Nice
Simple Is Better Than Complex

In [36]:
# 문자열 내 모든 문자를 대문자로 변환
data4.upper()

'ONEAGEDERSON'

In [75]:
testlist2=[1,2,3]
print(testlist2)

testlist2[0]=10
print(testlist2)

[1, 2, 3]
[10, 2, 3]

In [76]:
testlist2.insert(2,3)
testlist2

[10, 2, 3, 3]

In [77]:
testlist2.insert(2,3)
testlist2

[10, 2, 3, 3, 3]

In [84]:
leebokyung = {'name':'bokyung', 'phone':'01011111111', 'birth': '1205'}

print (leebokyung)
print (leebokyung['name'])
print (leebokyung['phone'])
print (leebokyung['birth'])

{'name': 'bokyung', 'phone': '01011111111', 'birth': '1205'}
bokyung
01011111111
1205