In [3]:
str="python is number 1!"
str

'python is number 1!'

In [8]:
str[10:16]

'number'

In [18]:
print(int(str[17:18]))
print(float(str[17:18]))

1
1.0

In [29]:
str="!@#$%이 문구만 남기고 나머지는 지워주세요!?"
str.strip("!@#$%?")

'이 문구만 남기고 나머지는 지워주세요'

In [30]:
str2=str.strip("!@#$%?").split(' ')
str2

['이', '문구만', '남기고', '나머지는', '지워주세요']

In [32]:
str2[3]+ ' ' + str2[4]

'나머지는 지워주세요'

In [36]:
list1=[('apple',33,7),('banana',21,6),('cat',5,8)]

list1.sort(key=lambda a:a)
print(list1)
list1.sort(key=lambda a:a[1])
print(list1)
list1.sort(key=lambda a:a[2])
print(list1)

[('apple', 33, 7), ('banana', 21, 6), ('cat', 5, 8)]
[('cat', 5, 8), ('banana', 21, 6), ('apple', 33, 7)]
[('banana', 21, 6), ('apple', 33, 7), ('cat', 5, 8)]

In [41]:
data=int(input(" 반지름을 입력하시오 : "))
pi=3.141592

print("%d x %d x %f = %f" % (data, data,pi, data*data*pi))

 반지름을 입력하시오 : 5
5 x 5 x 3.141592 = 78.539800

In [52]:
list1= [int(input()),int(input()),int(input()),int(input()),int(input()),int(input())]
list1.sort(reverse=True)
list2=list1
list3=[]

for i in range(5):
    x=list2[i]-list2[i+1]
    list3.append(x)
list3

1
2
3
4
5
6

[1, 1, 1, 1, 1]

In [60]:
data=int(input("1~9사이의 숫자를 입력하세요: "))

for i in range(9):
    print("%d x %d = %d" % (data, i+1, data*(i+1)))

1~9사이의 숫자를 입력하세요: 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

In [64]:
x=[(a,b,c) for a in range(1,6,1) for b in range(1, 6, 1) for c in range(1, 6 ,1) if b*b/a+c*c/b+a*a/c >=a+b+c  ]

print(x)

[(1, 1, 1), (1, 1, 2), (1, 1, 3), (1, 1, 4), (1, 1, 5), (1, 2, 1), (1, 2, 2), (1, 2, 3), (1, 2, 4), (1, 2, 5), (1, 3, 1), (1, 3, 2), (1, 3, 3), (1, 3, 4), (1, 3, 5), (1, 4, 1), (1, 4, 2), (1, 4, 3), (1, 4, 4), (1, 4, 5), (1, 5, 1), (1, 5, 2), (1, 5, 3), (1, 5, 4), (1, 5, 5), (2, 1, 1), (2, 1, 2), (2, 1, 3), (2, 1, 4), (2, 1, 5), (2, 2, 1), (2, 2, 2), (2, 2, 3), (2, 2, 4), (2, 2, 5), (2, 3, 1), (2, 3, 2), (2, 3, 3), (2, 3, 4), (2, 3, 5), (2, 4, 1), (2, 4, 2), (2, 4, 3), (2, 4, 4), (2, 4, 5), (2, 5, 1), (2, 5, 2), (2, 5, 3), (2, 5, 4), (2, 5, 5), (3, 1, 1), (3, 1, 2), (3, 1, 3), (3, 1, 4), (3, 1, 5), (3, 2, 1), (3, 2, 2), (3, 2, 3), (3, 2, 4), (3, 2, 5), (3, 3, 1), (3, 3, 2), (3, 3, 3), (3, 3, 4), (3, 3, 5), (3, 4, 1), (3, 4, 2), (3, 4, 3), (3, 4, 4), (3, 4, 5), (3, 5, 1), (3, 5, 2), (3, 5, 3), (3, 5, 4), (3, 5, 5), (4, 1, 1), (4, 1, 2), (4, 1, 3), (4, 1, 4), (4, 1, 5), (4, 2, 1), (4, 2, 2), (4, 2, 3), (4, 2, 4), (4, 2, 5), (4, 3, 1), (4, 3, 2), (4, 3, 3), (4, 3, 4), (4, 3, 5), (4, 4, 1), (4, 4, 2), (4, 4, 3), (4, 4, 4), (4, 4, 5), (4, 5, 1), (4, 5, 2), (4, 5, 3), (4, 5, 4), (4, 5, 5), (5, 1, 1), (5, 1, 2), (5, 1, 3), (5, 1, 4), (5, 1, 5), (5, 2, 1), (5, 2, 2), (5, 2, 3), (5, 2, 4), (5, 2, 5), (5, 3, 1), (5, 3, 2), (5, 3, 3), (5, 3, 4), (5, 3, 5), (5, 4, 1), (5, 4, 2), (5, 4, 3), (5, 4, 4), (5, 4, 5), (5, 5, 1), (5, 5, 2), (5, 5, 3), (5, 5, 4), (5, 5, 5)]

In [84]:
list1 = ['a', 'c', 'd', 'b', 'e']
list1.sort()
list1

['a', 'b', 'c', 'd', 'e']

In [85]:
list1 = ['a', 'c', 'd', 'b', 'e']
list1.sort(reverse=True)
list1

['e', 'd', 'c', 'b', 'a']

In [86]:
sorted(list1, reverse=True)

['e', 'd', 'c', 'b', 'a']

In [87]:
list1

['e', 'd', 'c', 'b', 'a']

In [88]:
del list1[0]

In [89]:
list1.pop(0)
list1

['c', 'b', 'a']

In [90]:

list1.extend(['mission', 'complete'])

In [91]:
list1

['c', 'b', 'a', 'mission', 'complete']

In [92]:
list2 = "Let the Game begin."
list2.swapcase()

'lET THE gAME BEGIN.'

In [93]:
list2.title()

'Let The Game Begin.'

In [94]:
dict1 = {'A':90, 'B':80, 'C':70, 'D':60, 'E':50}
dict1.pop('D')
dict1

{'A': 90, 'B': 80, 'C': 70, 'E': 50}

In [95]:
dict1 = {'A':90, 'B':80, 'C':70, 'D':60, 'E':50}
dict2=dict1.pop('D')

In [97]:
print(dict2)

60

In [99]:
e = "Jangza@encore.com"
e1= e.partition('@')
e1

('Jangza', '@', 'encore.com')

In [101]:
ddd= lambda x: True if x%2==1 else False

In [103]:
ddd(3)

True

In [110]:
a=[1,1,1,1,1,0,1]

for i in range(7):
    if i == 1:
        print("%d번 문제 맞춤" % (i+1))
    else:
        print("%d번 문제 틀림" % (i+1))

if a.count(1)==7:
    print("마스터")
elif a.count(1)>=5:
    print("고수")

1번 문제 틀림
2번 문제 맞춤
3번 문제 틀림
4번 문제 틀림
5번 문제 틀림
6번 문제 틀림
7번 문제 틀림
고수

## 상속 문제 1

1. 문제 :<br>
회사에 직원(Employee)과 매니저(Manager)가 있다. 직원은 월급만 있지만 매니저는 월급외에 보너스가 있다<br>
Employee 클래스를 상속받아서 Manager 클래스를 작성한다. <br>
Employee 클래스의 getSalary()는 Manager 클래스에서 재정의된다 <br><br>
- 조건 : 부모 클래스만 제시
- 출력 결과 : 이름: 김철수; 월급: 2000000; 보너스: 1000000

In [16]:
class Employee:
    def __init__(self, name, salary):
        self.name=name
        self.salary=salary
    
    def getSalary(self):
        return salary
        
class Manager(Employee):
    def __init__(self, name, salary, bonus):
        self.bonus=bonus
        super().__init__(name, salary)
        
    def getSalary(self):
        salary=super.getSalary()
        return salary+self.bonus
    
    def __str__(self):
        return "이름 " + self.name + "월급 " + str(self.salary) + " 보너스 " + str(self.bonus)

emp=Manager("김철수",2000000,11000000)

print(emp)

이름 김철수월급 2000000 보너스 11000000