# 05. 함수 구현의 다양한 문법 

1. 인수(argument) - 호출 프로그램에 의하여 함수에 전달되는 값
- 매개변수(parmeter) - 인수값을 전달받는 변수

--------------------------------------------------------

1.  디폴트 인수 : 함수의 매개 변수가 기본값 보유
- 키워드 인수 : 인수들 앞에 키워드를 두어 인수 구분
- 임의의 인수 목록 : 인자의 개수가 정해지지 않은 가변 인수를 전달
- 람다 함수 : 이름이 없는 한줄짜리 함수

### 1. 디폴트 인수

In [14]:
# 매개변수 기본 초기화값 활용하는 함수
# 호출: 함수명(값), 함수명(값1, 값2)
def fun1(name, age=46):
    print(name, age)

In [15]:
fun1("김희건")

김희건 46

In [12]:
fun1("김희건", 26)

김희건 26

### 2. 키워드 인수

In [21]:
def fun2(x,y,z):
    return x+y+z

In [22]:
fun2(1,2,3)

6

In [24]:
fun2(x=1,y=2,z=3)

6

In [27]:
fun2(z=3,x=1,y=2) #키워드 인수함수는 순서바뀌어도 가능

6

### 3. 임의의 인수

- *를 사용할 경우 인수는 튜플 형식
- 가변인자 활용

In [29]:
def fun3(*args, sep='-'):
    return sep.join(args)

In [30]:
fun3('a','b')

'a-b'

In [31]:
fun3('a','b','c')

'a-b-c'

## Lab1
일회용 패스워드 생성기를 이용하여서 3개의 패스워드를 생성하여 출력하는 프로그램을 작성해 보기.

출력 예시 : 
    
ouuc4c <br>
uuahtp <br>
79s6oz <br>

In [152]:
import random
print(random.randrange(15))

8

In [109]:
import random

def genpass():
    alphabet='abcdefghijklmnopqrstuvwxyz0123456789'
    password=''

    for i in range (6):
        index=random.randrange(len(alphabet))
        
        password=password+alphabet[index]
    return password
    
print(genpass())

eweakc

### 4. 람다 함수
1. 매개변수 제한이 없음
- 함수의 반환,

In [165]:
f1= lambda x: x+10
f1(10)

20

In [166]:
def sum(n):
    return lambda x: x+n

In [167]:
# f2= lambda x: x+10 으로 반환된 구조
f2=sum(10)
f2

In [170]:
f2(10)

20

In [171]:
f3=lambda x:x+10
f3(10)

20

In [174]:
f4 = lambda x, y, z : 2*x + 3*y + 4*z

In [178]:
# f4 호출해보기
f4(10,20,30)

200

In [179]:
#f5라는 f4와 동일한 로직의 일반 함수 개발하기
def f5(x,y,z):
    return 2*x + 3*y + 4*z
f5(10,20,30)

200

In [180]:
myList=[1, 5, 3, 9, 8, 4, 2]
myList.sort()

In [182]:
myList

[1, 2, 3, 4, 5, 8, 9]

In [186]:
myList=[1, 5, 3, 9, 8, 4, 2]
myList.sort(reverse=True)

In [188]:
myList

[9, 8, 5, 4, 3, 2, 1]

In [190]:
myList=[1, 5, 3, 9, 8, 4, 2]
myList.sort(key=lambda a:a)
myList

[1, 2, 3, 4, 5, 8, 9]

In [198]:
mylist2=[('park', 29, 130), ('kim', 26, 101), ('lee', 43, 120)]

In [199]:
mylist2.sort(key=lambda a: a[2])
mylist2

[('kim', 26, 101), ('lee', 43, 120), ('park', 29, 130)]

In [200]:
mylist2=[('park', 29, 130), ('kim', 26, 101), ('lee', 43, 120)]
mylist2.sort(key=lambda a: a[0])
mylist2

[('kim', 26, 101), ('lee', 43, 120), ('park', 29, 130)]

In [230]:
# 대소문자 구분없이 sort함수로 정렬
# 람다 사용
# lower()
mylist3= ['Spam', 'egg', 'Ham']
for s in range(2):
    mylist3[s]=mylist3[s].lower()
    mylist3.sort(key=lambda a:a)
mylist3

['Ham', 'egg', 'spam']

In [210]:
mylist3[0].lower()

'spam'

In [232]:
mydict1 = {'one':1, 'two':2, 'three':3}
sorted(mydict1)

['one', 'three', 'two']

In [234]:
mydict1

{'one': 1, 'two': 2, 'three': 3}

In [235]:
sorted(mydict1.items())

[('one', 1), ('three', 3), ('two', 2)]

In [240]:
type(sorted(mydict1.items()))

list

In [241]:
mydict1

{'one': 1, 'two': 2, 'three': 3}

In [242]:
#[('one',1), ]
sorted(mydict1.items())

[('one', 1), ('three', 3), ('two', 2)]

In [247]:
sorted(mydict1.items(), key=lambda v: v[0])

[('one', 1), ('three', 3), ('two', 2)]

In [246]:
sorted(mydict1.items(), key=lambda v: v[1])

[('one', 1), ('two', 2), ('three', 3)]