# 04. 리스트, 튜플, 딕셔너리, 셋 학습

python의 매우 중요한 데이터 타입

### 1. 리스트 클래스
1. list1 = list()		# 공백 리스트 생성<br>
- list2 = list("Hello")		# 문자 H, e, l, l, o를 요소로 가지는 리스트 생성<br>
- list3 = list(range(0, 5))	# 0, 1, 2, 3, 4를 요소가 가지는 리스트 생성<br>
- list4 = [ ] 			# 공백 리스트 생성<br>
- list5 = [ "H", "e", "l", "l", "o" ] 	# 문자 H, e, l, l, o를 요소로 가지는 리스트<br> 
- list6 = [ 0, 1, 2, 3, 4 ]# 0, 1, 2, 3, 4를 요소가 가지는 리스트 생성<br>

### 2. 복잡한 list
1. list1 = [12, "dog", 180.14] 				# 혼합 자료형 <br>
- list2 =  [["Seoul", 10], ["Paris", 12], ["London", 50]] 	# 내장 리스트<br> 
- list3 = ["aaa", ["bbb", ["ccc", ["ddd", "eee", 45]]]] 	# 내장 리스트 <br>

In [1]:
list2= list("hello")

In [2]:
list2

['h', 'e', 'l', 'l', 'o']

In [3]:
list2[1]

'e'

In [10]:
'''
1. java의 배열 타입
    - 하나의 타입으로만 데이터 저장가능
    - 상위 타입으로 배열 생성시에 자손 타입의 객체들 저장 가능

2. java의 ArrayList타입
    - 기본 (8가지) 제외한 모든 타입 즉 모든 객체들 저장 가능

3. python의 list 타입
    - 타입과 무관하게 혼합 타입 수용 가능  
'''

a = [1, 2.5, 'string']
a[2]

'string'

In [9]:
b=[[1,2,3],'string']

[[1, 2, 3], 'string']

In [11]:
# b 참조하는 list 객체 내에서 3이라는 값 출력
b[0][2]

3

In [14]:
# b 참조하는 list의 3 대신에 '삼' 데이터로 치환
b[0][2]='삼'
b

[[1, 2, '삼'], 'string']

In [54]:
c=[1,2,3,4,5]

In [18]:
c[-1]

5

In [19]:
c[0]

1

In [20]:
c[-2]

4

In [21]:
c[1:3]

[2, 3]

In [23]:
# list는 곱하기 연산도 가능
c*2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [25]:
# list는 더하기 연산도 가능
c + [8.9]

[1, 2, 3, 4, 5, 8.9]

In [28]:
# 빼기는 안됨 // c - 3 에러!

In [30]:
c

[1, 2, 3, 4, 5]

In [31]:
3 in c

True

In [32]:
7 in c

False

In [55]:
c

[1, 2, 3, 4, 5]

In [56]:
del c[3]

In [57]:
c

[1, 2, 3, 5]

In [58]:
# 하나의 del 문장으로 3과 5 삭제하기
del c[2:]

In [59]:
c

[1, 2]

### list를 stack처럼

1. append(데이터) : 호출시에 list의 가장 마지막에 데이터 추가 저장
2. pop(index) : index 값으로 존재하는 모든 데이터 반환 + 삭제가 가능하나 stack처럼 개발할경우 
stack이란 자료구조 트징에 맞게 가장 막 index 값으로 데이터를 반환받아야 함

In [119]:
# 리스트로 stack 구조 만들어 보기
# 마지막 저장한 데이터를 가장 먼저 빼야 하는 구조
# list 내에 데이터 저장 및 삭제
# append() / pop()

list = [100, 200]
list

[100, 200]

In [120]:
list.append(300)

In [121]:
list

[100, 200, 300]

In [63]:
list.pop(1)

200

In [64]:
list

[100, 300]

In [ ]:
# list를 queue 구조처럼 만들어보기
"""
list에서 index [index]로 데이터 반환 vs pop(index) 데이터 반환시 차이점
pop() 은 데이터 반환 + 삭제
"""

In [116]:
list2=['a','b','c']
list2.append('d')
list2

['a', 'b', 'c', 'd']

In [117]:
list2.pop(0)

'a'

In [118]:
list2

['b', 'c', 'd']

In [128]:
list=['a','c','b','d','e']

In [129]:
list

['a', 'c', 'b', 'd', 'e']

In [130]:
list.sort

In [131]:
list.sort()

In [132]:
list

['a', 'b', 'c', 'd', 'e']

In [138]:
list2=['a','B','e','C']
list2.sort()

In [139]:
# 대소문자가 혼용 되어 있는 경우 대문자가 먼저나옴(아스키코드 순서)
list2

['B', 'C', 'a', 'e']

In [140]:
# 알파벳 대소문자 무시하고 정렬하기
list2.sort(key=str.lower)

In [141]:
list2

['a', 'B', 'C', 'e']

In [ ]:
list2=['a','B','e','C']

In [142]:
# 역정렬. 단, 대소문자 무시
list2.sort(key=str.lower, reverse=True)
list2

['e', 'C', 'B', 'a']

In [4]:
#? 사유 찾아보기 /차이점?
list3 = ['123', '34','56','2345']
list3.sort()
list3

['123', '2345', '34', '56']

In [5]:
list3 = [123, 34, 56, 2345]
list3.sort()
list3

[34, 56, 123, 2345]

In [11]:
# 문자열임에도 key=int값 반영시 숫자화해서 정렬 진행 
list3 = ['123', '34','56','2345']
list3.sort(key=int, reverse=True)
list3

['2345', '123', '56', '34']

In [17]:
list4 = ['b', 'a', 'c','d']
list4

['b', 'a', 'c', 'd']

In [18]:
list4.reverse()

In [19]:
list4

['d', 'c', 'a', 'b']

In [15]:
#? for문을 이용해서 list변수에 데이터저장:range(5)
# 저장함수 : append
# list가 이미 존재하는 상황에서 데이터를 저장
myList=[]
for data in range(5):
    myList.append(data)
    
myList

[0, 1, 2, 3, 4]

In [22]:
# myList의 데이터를 역순으로 변환하기  // * sort함수는 원본데이터까지 수정해버림!
myList.sort(reverse=True)
myList

[4, 3, 2, 1, 0]

In [25]:
myList=[]
for data in range(5):
    myList.append(data)
myList

[0, 1, 2, 3, 4]

In [26]:
# 원본 데이터 유지를 위한 정렬이 필요한 경우 sorted() 사용
newMyList=sorted(myList, reverse=True)
print(myList)
print(newMyList)

[0, 1, 2, 3, 4]
[4, 3, 2, 1, 0]

In [30]:
data= [['현경', '민지'],[23,24]]

In [31]:
print(data[0][0],data[1][0])

현경 23

In [71]:
# 미션 문제
'''
    나의 소중한 사람이 list 즉 이 문제 하나만으로 list에 대해서 충분히 숙지가 가능한 문제 내기
    
    주제: 다양한 데이터값의 주제여야함
        참고: 아이쇼핑 + 이름 + 나이값 +...+ ...데이터셋
'''
# 다음 리스트를 이용하여 현재 상영중인 영화 '박물관이 진짜 살아있다' 를 출력하시오. (다른 영화들도 출력해보시오.)
mov = [[['어바웃', '진실', '여름','이즈'],['아름다워', '살아있다','본'],['불편한', '진짜', '완벽한']],
       [['동네', '사람들', '창궐','몬스터의'], ['출동', '구스범스', '박물관이']],
       [['인생은', '타임', '바울'],['스타','역습']]]

In [72]:
print(mov[1][1][2], mov[0][2][1],mov[0][1][1])

박물관이 진짜 살아있다

In [73]:
# 영화 '인생은 아름다워'
print(mov[2][0][0],mov[0][1][0])

인생은 아름다워

In [70]:
# 영화 '어바웃 타임'
print(mov[0][0][0], mov[2][0][1])

어바웃 타임

In [ ]:
data=[['희건','명장'],[26,29],['비타민','몽쉘']]

data1=input()

for i in range
for i in range(len(gift_list[i])):
    
    if gift_list[i][n] == data1:
        print("나이 :")

### 3. 튜플
1. 변경 불가능한 리스트, 연산 사용 가능<br>
- tuple1 = ()<br>
- tuple2 = tuple()<br>
- t1 = (1, 2, 3, 4, 5)<br>
- t2 = ("red", "green", "blue")<br>
- t = t1 + t2 <br>
- t3 = 'test', 'test1', 'test2' #괄호없이 나영될 객체들도 튜플로 간주

In [74]:
t1=(1,2,3)
t2=('a', 'b', 'c')

In [77]:
t1+t2

(1, 2, 3, 'a', 'b', 'c')

In [78]:
t1

(1, 2, 3)

In [79]:
t1[2]

3

In [80]:
# 튜플 : append() 미지원, index로 데이터 수정도 불가
# 에러 : t1[2]=5

TypeError: 'tuple' object does not support item assignment

In [81]:
t3 = (1, 2, 2, 1, 3, 4, 5)

In [83]:
t3.count(1) # 데이터 갯수 확인

2

In [85]:
t3.index(5) # 데이터 위치값 확인

6

In [87]:
# list에 튜플 저장
list1 = [(1,2,3),['a','b','c']]

In [90]:
list1[0]

(1, 2, 3)

In [92]:
#? 2라는 데이터만 출력
list1[0][1]

2

In [95]:
# 다중 변수 선언 및 동시 초기화
x, y, z = 10,20,30;

In [96]:
x

10

In [97]:
y

20

In [99]:
(x1,y1) = (1,2)

In [100]:
x1

1

In [101]:
x1=10
x1

10

In [102]:
t=(1234,5678,'hello')
u=t, (1,2,3,4,5)
u

((1234, 5678, 'hello'), (1, 2, 3, 4, 5))

In [103]:
u[0][2]

'hello'

### 용어
>**패킹** : 하나의 변수에 여러개의 데이ㅌㅓ를 넣는 구조를 의미 <br>
>**언패킹** : 하나의 변수에서 여러개의 데이터를 각각 꺼내오는 구조 의미 <br>

In [104]:
t=1,2,'hello'

In [106]:
type(t)

tuple

In [107]:
# 튜플 반환하는 함수
def tupleReturn(a,b):
    return a+b, a*b

tupleReturn(10, 20)

(30, 200)

In [108]:
# 우선 해보고 코드로 이해해보기
# 이름 없는 함수 개발 방법
'''

bomb - 변수이자 함수명 처럼 사용됨
lambda - 이름없는 단순한 로직의 함수 구조 선언 의미
        (재사용 관점이 절대 아님)
x - 변수명, 역할 = 인수값을 받는 변수
: - lambda 변수 선언과 수식의 구분자
x+10 - 수식 즉 처리로직

'''
bomb = lambda x : x+10




bomb(10)

20

In [ ]:
bomb = lambda x, y : x+y

bomb(10,20) #30

In [109]:
'''
이름이 없는 함수인 람다 함수 개발하기
1. 인수값 - 이름
2. 반환값 - 안녕하세요 이름님

'''

msg= lambda name: "안녕하세요 " + name + '님'
msg('공자')

'안녕하세요 공자님'

### 4. Dict

1. 특정키를 주면 관련된 값을 돌려주는 내용 기반으로 검색하는 자료형
- 키(key)와 값(value)의 쌍으로 관리되는 객체
- 순서가 없음 
- 키는 절대 중복 안함
- 주요 함수 : get()/items()/keys()

In [110]:
member= {'p1' : "공자" , 'p2': "장자"}

In [111]:
# member.p1 문법 오류
member['p1']

'공자'

In [114]:
member['p2']

'장자'

In [113]:
# p1이라는 key에 본인 이름을 저장
member['p1'] = '김희건'
member['p1']

'김희건'

In [116]:
type(member)

dict

In [120]:
dict()

{}

In [121]:
dict(one=1, two=2)

{'one': 1, 'two': 2}

In [124]:
data1=dict(one=1, two=2)

In [125]:
data1['one']

1

In [ ]:
#? list에 tuple/dict 타입을 데이터로 적용

In [129]:
data= [ (1,2,3), {'k1':'v1', 'k2' :'v2'}]

In [130]:
data[1]

{'k1': 'v1', 'k2': 'v2'}

In [131]:
data[1]['k2']

'v2'

In [133]:
# data[1]에 저장된 dict의 k2 값을 수정
data[1]['k2']='v3'

In [135]:
data[1]['k2']

'v3'

In [136]:
data

[(1, 2, 3), {'k1': 'v1', 'k2': 'v3'}]

In [137]:
datas={'a':1, 'b':2, 'c':3, 'd':4, 'e':5}

In [138]:
datas

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [139]:
datas['a']

1

In [144]:
# dict의 key들만 반환
keys= datas.keys()
keys

dict_keys(['a', 'b', 'c', 'd', 'e'])

In [145]:
list(data(keys))

TypeError: 'list' object is not callable

In [151]:
values=data.values()

AttributeError: 'list' object has no attribute 'values'

In [148]:
for key in keys:
    print(key, datas[key])

a 1
b 2
c 3
d 4
e 5

In [152]:
for v in values:
    print(v)

NameError: name 'values' is not defined

In [153]:
# key, value 를 동시에 반환해서 활용
# items는 dict 타입에서 key, value를 동시에 반환 및 활용 가능한 함수
for(key, value) in datas.items():
    print(key,value)

a 1
b 2
c 3
d 4
e 5

In [162]:
d = {'a':1, 'b':2}

In [163]:
d2= d.copy()
d2

{'a': 1, 'b': 2}

In [164]:
d3 = {'c':3, 'd':4}
d3

{'c': 3, 'd': 4}

In [166]:
d.update(d3)

In [167]:
d

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [168]:
d

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [169]:
d['d']

4

In [171]:
v=datas.get('test')
type(v)

NoneType

In [172]:
# 반복문 이용해서 데이터 존재여부 확인
if 'a' in datas:
    print("a key는 존재")

a key는 존재

In [173]:
!python --version

Python 3.7.0

In [ ]:
## 중간점검

1. 숫자(정수, 실수), 부울, 문자열...
- list: [], 값 수정 가능 , index로 데이터 관리
- tuple : (), 값 수정 불가, index로 데이터 관리
- dict : {}, key는 절대 중복 불허
- set : {}, 중복 데이터 불허, dict의 key의 타입으로 사용됨

### 5. 셋
1. 중복되지 않는 순서 없는 항목들 <br>
- set1 = {2, 1, 3} <br>
- set2 = set()

####  부분 집합 연산 & 합집합 연산
> issubset() - 부분 집합 여부 검사<br>
> issuperset() - 상위집합 여부 검사<br>

> union() - 합집합 <br>
> intersection() - 교집합, & 연산자 사용 가능<br>
> difference() - 차집합, - 연산자 사용 가능<br>

In [4]:
# 부부 집합 연산
A = {1, 2, 3}
B = {1, 2, 3}
A == B

True

In [5]:
# 부분 집합 연산
A = {1, 2, 3, 4, 5}
B = {1, 2, 3}
B < A

True

In [6]:
# 부분 집합 연산
A = {1, 2, 3, 4, 5}
B = {1, 2, 3}
B.issubset(A)

True

In [7]:
# 집합 연산
A = {1, 2, 3}
B = {3, 4, 5}

A | B

{1, 2, 3, 4, 5}

In [8]:
A & B

{3}

In [9]:
A - B

{1, 2}

In [174]:
set2 = set()
set2

set()

In [175]:
type(set2)

set

In [180]:
set2 ={1,2,3}
set2

{1, 2, 3}

In [186]:
set3 ={1,2,3,3} #앞의 3이 사라지고 뒤의 3이 대체
set3

{1, 2, 3}

In [187]:
# 이미 존재하는 set에 새로운 데이터 추가 저장
set3.add(5)
set3

{1, 2, 3, 5}

In [188]:
# 존재하는 데이터 삭제
set3.discard(3)
set3

{1, 2, 5}

In [190]:
# updata 함수를 활용한 추가
set4 = {7,8,9}
set3.update(set4)
set3

{1, 2, 5, 7, 8, 9}

In [192]:
# 데이터 존재 여부 검사
7 not in set3

False

In [193]:
7 in set3

True

### Lab1 - 파티 동시 참석자 알아내기
> [문제] <br>
> 파티에 참석한 사람들의 명단이 세트 A와 B에 각각 저장되어 있다.<br>
> 2개 파티에 모두 참석한 사람들의 명단을 출력하려면 어떻게 해야 할까? <br>

> [출력 결과] <br>
> 2개의 파티에 모두 참석한 사람은 다음과 같습니다. <br>
> {'Park'}

### Lab2 - 각각의 단어가 몇 번이나 나오는지를 계산하는 프로그램을 작성하기

> 문제<br>
>  - 사용자가 지정하는 파일을 읽어서 파일에 저장된 각각의 단어가 몇 번이나 나오는지를 계산하는 프로그램을 작성하여 보자.<br>

> 힌트<br>
    - key는 단어로, 나온 횟수는 value로 처리하기<br>
    - 필요한 타입 : 딕셔너리

In [1]:
data = '''내 속엔 내가 너무도 많아 당신의 쉴 곳 없네
내 속엔 헛된바램들로 당신의 편할 곳 없네
내 속엔 내가 어쩔 수 없는 어둠 당신의 쉴 자리를 뺏고
내 속엔 내가 이길 수 없는 슬픔 무성한 가시나무숲같네

바람만 불면 그 메마른가지 서로 부대끼며 울어대고
쉴곳을 찾아 지쳐 날아온 어린새들도 가시에 찔려 날아가고
바람만 불면 외롭고 또 괴로워 슬픈 노래를 부르던 날이 많았는데

내 속엔 내가 너무도 많아서 당신의 쉴 곳 없네


바람만 불면 그 메마른가지 서로 부대끼며 울어대고
쉴곳을 찾아 지쳐 날아온 어린새들도 가시에 찔려 날아가고
바람만 불면 외롭고 또 괴로워 슬픈 노래를 부르던 날이 많았는데

내 속엔 내가 너무도 많아서 당신의 쉴 곳 없네'''

### Lab3  - 함축된 표현식으로 변경해 보기
> 1. 소스 분석하기<br>
> 2. 반복문을 함축 표현으로 변경해 보기
> 3. 알고리즘 문제로 많이 나오는 로직

In [4]:
v = []
values = ['v1 test', 'v2 test', 'v3 test', 'v4', 'v5']
for x in values:
    if len(x) > 2:
        v.append(x.upper());

v

['V1 TEST', 'V2 TEST', 'V3 TEST']