# 05. 함수 구현의 다양한 문법 

1. 인수(argument) - 호출 프로그램에 의하여 함수에 전달되는 값
- 매개변수(parmeter) - 인수값을 전달받는 변수

--------------------------------------------------------

1.  디폴트 인수 : 함수의 매개 변수가 기본값 보유
- 키워드 인수 : 인수들 앞에 키워드를 두어 인수 구분
- 임의의 인수 목록 : 인자의 개수가 정해지지 않은 가변 인수를 전달
- 람다 함수 : 이름이 없는 한줄짜리 함수

### 1. 디폴트(default) 인수

In [2]:
# 매개변수 기본 초기화값 활용하는 함수
# 호출 : 함수명(값1), 함수명(값1, 값2)
def fun1(name, age=46):
    print(name, ' ', age)

In [3]:
fun1("김혜경")

김혜경   46

In [4]:
fun1("현경", 23)

현경   23

### 2. 키워드 인수

In [9]:
def fun2(x, y, z):
    return x + y + z

In [10]:
fun2(10, 20, 30)

60

In [11]:
fun2(x=10, y=20, z=30)

60

In [12]:
fun2(z=10, y=20, x=30)

60

### 3. 임의의 인수

- *를 사용할 경우 인수는 튜퓰 형식
- 가변인자 활용

In [13]:
def fun3(*args, sep='-'):
    return sep.join(args)

In [15]:
fun3('a', 'b')

'a-b'

In [16]:
fun3('a', 'b', 'c')

'a-b-c'

## Lab1
일회용 패스워드 생성기를 이용하여서 3개의 패스워드를 생성하여 출력하는 프로그램을 작성해 보기.

출력 예시 : 
    
ouuc4c <br>
uuahtp <br>
79s6oz <br>

In [79]:
import random

print(random.randrange(36)) #0~35

35

In [81]:
alphabet = "abcdefghijklmnopqrstuvwxyz0123456789"
#print(len(alphabet))
alphabet[35]

'9'

In [102]:
import random

def genPass():
    alphabet = "abcdefghijklmnopqrstuvwxyz0123456789"
    password = ""

    for i in range(6):
        # 알파벳 문자의 크기 중에서 하나의 번호를 랜덤하게 선택
        index = random.randrange(len(alphabet))
        # 패스워드에 추가
        password = password + alphabet[index]
    return password

print(genPass())
print(genPass())
print(genPass())

58m8q7
9tk2cn
14aku8

In [ ]:
'''
java에서 외부 package 활용 문장 : import
python도 외부 library 활용 문장 : import
'''
import random

random.

### 4. 람다 함수

1. 매개변수 제한이 없음
- 함수의 반환, 변수의 데이터값으로 사용 가능
- list의 sort의 key속성의 값으로도 사용 가능(실전 응용)

In [103]:
f1 = lambda x: x+10
f1(10)

20

In [105]:
def sum(n):
    return lambda x : x + n

In [107]:
# f2 = lambda x : x + 10 으로 반환된 구조
f2 = sum(10)
f2

In [108]:
f2(100)

110

In [110]:
f3 = lambda x : x**2

In [111]:
f3(2)

4

In [112]:
f4 = lambda x, y, z : 2*x + 3*y + 4*z

In [113]:
# f4 호출해 보기
f4(1,1,1)

9

In [115]:
#f5라는 f4와 동일한 로직의 일반 함수 개발하기
def f5(x, y, z):
    return 2*x + 3*y + 4*z

In [116]:
f5(1,1,1)

9

In [118]:
mylist=[1, 5, 3, 9, 8, 4, 2]
mylist.sort()

In [119]:
mylist

[1, 2, 3, 4, 5, 8, 9]

In [120]:
mylist=[ 1, 5, 3, 9, 8, 4, 2]
mylist.sort(reverse=True)

In [121]:
mylist

[9, 8, 5, 4, 3, 2, 1]

In [122]:
mylist=[1, 5, 3, 9, 8, 4, 2]
mylist.sort(key=lambda a:a)
mylist

[1, 2, 3, 4, 5, 8, 9]

In [125]:
mylist2 = [('kim', 23, 100), ('lee', 27, 99), ('park', 43, 102)]

In [126]:
mylist2.sort(key=lambda a : a[2])
mylist2

[('lee', 27, 99), ('kim', 23, 100), ('park', 43, 102)]

In [127]:
mylist2 = [('kim', 23, 100), ('lee', 27, 99), ('park', 43, 102)]
mylist2.sort(key=lambda a : a[0])
mylist2

[('kim', 23, 100), ('lee', 27, 99), ('park', 43, 102)]

In [128]:
# 대소문자 구분없이 sort 함수로 정렬 
# 람다 사용해서 소문자로 변경해서 정렬 
# lower()
mylist3 = ['Spam', 'egg', 'Ham']
mylist3.sort(key=lambda v : v.lower())
mylist3

['egg', 'Ham', 'Spam']

In [130]:
mydict1 = {'one':1, 'two':2, 'three':3}
sorted(mydict1)

['one', 'three', 'two']

In [131]:
mydict1

{'one': 1, 'two': 2, 'three': 3}

In [132]:
sorted(mydict1.items())

[('one', 1), ('three', 3), ('two', 2)]

In [133]:
type(sorted(mydict1.items()))

list

In [134]:
mydict1

{'one': 1, 'two': 2, 'three': 3}

In [135]:
#mydict1.items() -> [('one', 1), ('three', 3), ('two', 2)]
sorted(mydict1.items(), key=lambda v : v[1])

[('one', 1), ('two', 2), ('three', 3)]

In [136]:
sorted(mydict1.items(), key=lambda v : v[0])

[('one', 1), ('three', 3), ('two', 2)]