### 06. 컴프리헨션

1. 리스트, 세트, 딕셔너리 내에서 실행 할 수 있는 한 줄 for문
- 리스트 컴프리헨션, 세트 컴프리헨션, 딕셔너리 컴프리헨션라고 함
- 컴프리헨션 : 내장, 내포의 의미

In [2]:
datas = []
for x in range(10):
    datas.append(x**2)

In [3]:
datas

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [17]:
datas=[x**2 for x in range(10)]
datas

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [19]:
# 0~5까지 반복해서 순차적으로 +2한 결과값들을 하나의 list에 저장후 출력
'''
0~5 : range(6)
순차적으로 : 반복 for
+2 : 수식
결과값을 하나의 list 저장 :list
'''

datas2=[x+2 for x in range(6)]

In [22]:
datas2

[2, 3, 4, 5, 6, 7]

In [35]:
datas3=[x+2 for x in range(6) if x%2==0]

In [36]:
datas3

[2, 4, 6]

In [50]:
combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x!=y:
            combs.append((x,y))
combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [51]:
combs=[(x,y) for x in [1,2,3] for y in [3,1,4] if x !=y ]
combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [53]:
# {key:value, ...} - dict 구조에 comprehension 적용해 보기
'''
(): 불변인 튜플
[]: list는 데이터 타입과 무관하게 혼용해서 다 수용
[(1,'one'), (2, 'two')] : 튜플들을 보유한 리스트

이 리스트로 딕셔너리 생성
'''
{x:y for x,y in [(1,'one'), (2, 'two')]}

{1: 'one', 2: 'two'}

In [54]:
v = {1:2, 2:3, 3:4}

In [55]:
type(v)

dict

In [59]:
{x:x+1 for x in range(1,4)}

{1: 2, 2: 3, 3: 4}

### doc를 기반으로한 나만의 예제 구성 
url
https://docs.python.org/ko/3.6/library/functions.html#zip

In [115]:
x=[1,2,3]
y=[4,5,6]
print(zip(x,y))
data=zip(x,y)

<zip object at 0x000002111737A6C8>

In [58]:
x=[1,2,3]
y=[4,5,6]
print(zip(x, y))

<zip object at 0x00000200DE683708>

In [59]:
data = zip(x, y)

In [60]:
data[0, 0]

TypeError: 'zip' object is not subscriptable

In [61]:
list(data)

[(1, 4), (2, 5), (3, 6)]

In [62]:
data2=list(data)

In [ ]:
for x1, y1 in zip(x, y):
    print(x)

In [63]:
# zip 함수를 사용한 list들의 데이터를 활용하는 방법
for x1, y1 in zip(x,y):
    print(x1,' ',y1 )

1   4
2   5
3   6

In [14]:
# ? 함축(value * value 식이 수행되는 로직 개발)
# 데이터 값 : 0~9까지 (0*0, 1*1, 2*2)

datas3=[x*x for x in range(10)]
print(datas3)

datas4=[x*x for x in range(10) if x%2==0]
print(datas4)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 4, 16, 36, 64]

In [17]:
for x in range(10):
    if x%2==0:
        print(x*x,end=' ')

0 4 16 36 64

In [25]:
# 결과치가 다음과 같을 경우 어떻게 함축 표현식을 만들어야 하는지?
# [[10,11,12], [13,14,15], [16,17,18]]


data=[]

for v1 in [0,1,2]:
    innerData=[] # v1이 0일때, 1일때 등, 빈 list 생성
    for v2 in [10,11,12]:
        '''
            v1=0
            v2=10,11,12
            innerData v1*3 + v2 =[10, 11, 12]
            
            v1=1
            v2=10,11,12
            innerData v1*3 + v2 =[13, 14, 15]
        '''
        innerData.append(v1*3 + v2)
    data.append(innerData)
print(data)

[[10, 11, 12], [13, 14, 15], [16, 17, 18]]

In [30]:
[[v1*3 + v2 for v2 in [10,11,12]] for v1 in [0,1,2]]

[[10, 11, 12], [13, 14, 15], [16, 17, 18]]

### 제약조건 : 함축 표현 이해를 위한 문제 만들기

In [113]:
# [[2,4,6,8,10], [12,14,16,18,20], [22, 24, 26, 28, 30], [32, 34, 36, 38, 40], [42, 44, 46, 48, 50]]

[[(v1*5 + v2)-4 for v2 in range(1,10,2)] for v1 in range(1, 10,2)]

[[2, 4, 6, 8, 10],
 [12, 14, 16, 18, 20],
 [22, 24, 26, 28, 30],
 [32, 34, 36, 38, 40],
 [42, 44, 46, 48, 50]]

In [112]:
[[(v1*5 + v2)-4 for v2 in range(1,10,2)] for v1 in range(1, 10,2)]

[[2, 4, 6, 8, 10],
 [12, 14, 16, 18, 20],
 [22, 24, 26, 28, 30],
 [32, 34, 36, 38, 40],
 [42, 44, 46, 48, 50]]

In [66]:
# [[2,4,6,8,10], [12,14,16,18,20], [22, 24, 26, 28, 30], [32, 34, 36, 38, 40], [42, 44, 46, 48, 50]]

[[(v1*5 + v2*5 + v3-20) for v2 in [2, 4, 6, 8,10 ]] for v1 in [2, 4, 6, 8, 10] for v3 in [2,4,6,8,10]]

[[2, 12, 22, 32, 42],
 [4, 14, 24, 34, 44],
 [6, 16, 26, 36, 46],
 [8, 18, 28, 38, 48],
 [10, 20, 30, 40, 50],
 [12, 22, 32, 42, 52],
 [14, 24, 34, 44, 54],
 [16, 26, 36, 46, 56],
 [18, 28, 38, 48, 58],
 [20, 30, 40, 50, 60],
 [22, 32, 42, 52, 62],
 [24, 34, 44, 54, 64],
 [26, 36, 46, 56, 66],
 [28, 38, 48, 58, 68],
 [30, 40, 50, 60, 70],
 [32, 42, 52, 62, 72],
 [34, 44, 54, 64, 74],
 [36, 46, 56, 66, 76],
 [38, 48, 58, 68, 78],
 [40, 50, 60, 70, 80],
 [42, 52, 62, 72, 82],
 [44, 54, 64, 74, 84],
 [46, 56, 66, 76, 86],
 [48, 58, 68, 78, 88],
 [50, 60, 70, 80, 90]]

### API 문서의 소스 분석해서 API 이해하기

*** 제시받은 소스를 실행시키는 문제 해결 능력 함양 ***

accumulate()    # running product <br>
operator.mul <br>
lambda x, _:  r * x * (1 - x)  # 람다 _ 언더바가 의미하는것은?

In [3]:
import operator
import numpy as np

def accumulate(iterable, func=operator.add):
    'Return running totals'
    # accumulate([1,2,3,4,5]) --> 1 3 6 10 15
    # accumulate([1,2,3,4,5], operator.mul) --> 1 2 6 24 120
    it = iter(iterable)
    try:
        total = next(it)
    except StopIteration:
        return
    yield total
    for element in it:
        total = func(total, element)
        yield total

data = [3, 4, 6, 2, 1, 9, 0, 7, 5, 8]
list(accumulate(data, operator.mul))     # running product

list(accumulate(data, max))              # running maximum


cashflows = [1000, -90, -90, -90, -90]
list(accumulate(cashflows, lambda bal, pmt: bal*1.05 + pmt))


logistic_map = lambda x, _:  r * x * (1 - x)
r = 3.8
x0 = 0.4
inputs = repeat(x0, 36)     # only the initial value is used
[format(x, '.2f') for x in accumulate(inputs, logistic_map)]

NameError: name 'repeat' is not defined